{% extends 'main/base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block content %}
    <h1>Страница о нас</h1>
    <div class="col-6">
        <p>Добро пожаловать в нашу онлайн-аптеку, где вы найдете широкий выбор лекарственных препаратов. У нас вы можете легко и удобно заказать необходимые средства для здоровья, получить консультацию фармацевта и быструю доставку препаратов прямо к вашему дому. Мы заботимся о вашем здоровье и делаем все возможное, чтобы сделать процесс приобретения лекарств еще более удобным и безопасным для вас и вашей семьи.</p>
    </div>

{% endblock %}

